*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
nav{
  background-color: #FCE2DB;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-right: 33px;
}
.center{
  display: flex;
  align-items: center;
  justify-content:center;
}
nav>h1{
  color: #7A4495;
  margin-left: 8rem;
}

.container{
  background-color:#accad0;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  padding: 23px;

}
.title{
  padding: 22px;
}
.btns{
  margin: 5px;
  cursor: pointer;
  padding: 17px;
  background-color: #673ab7;
  border: 1px solid antiquewhite;
  color: white;
}
.btns:hover{
  background-color:#7ec6d5; ;
}


.formContainer{
  background-color:#FCE2DB;
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  padding: 23px;

}
.formClass{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.formfield{
  height: 2rem;
  width: 12rem;
  margin: 0 0 1rem 0;
  border: 1px solid;
}

